


.dropdown {
  position: relative;
  display: inline-block;
  float: right;
  cursor: pointer;

  p {
    color: white; font-weight: 400;
  }

  .dropdown-content {
    border-radius: 7px;
    display: block;
    position: absolute;
    top: 40px;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    color: black;
  }

  .dropdown-content > ul { cursor: initial; }

  .dropdown-content > ul > li {
    margin: 9px 0; padding: 4px; cursor: pointer;
  }
}
