
@import '../css_app/variables';

.dash_section_inner  { height: 100%; background: none; padding: 10px; }

.main                   { display: table; padding: 15px 25px; }
.main > div.header_wrap { display: table-row; height: 0; }

/* ----- header ----- */

.header {

    width: 100%; height: 55px; background: $head_color; margin: 0; padding: 0;
    display: -ms-flexbox; /* IE10 */ display: flex; align-items: center;
    border-radius: 9px;

    > h2 , >  h1 , > h3 , >  p { font-size: 0.82em; }

    > ul , > li                { display: inline-block; margin: 10px; }

    #header-title , #header-nav , #header-social  { padding: 0 20px; display: flex; }

    #header-nav    { width: 100%; }

    #header-social > h1 , #header-social > div , #header-social > div.dropdown {
      display: inline-block; margin: 5px; white-space: nowrap;
    }

    #header-social > div.dropdown {  display: flex; align-items: center; }

}
#header-social  {

   .head_user_bits    { border-radius: 6px;  padding: 9px 28px; font-weight: 600;
                        background: #204bf2; font-size: 0.65em; margin-top: 1px;
                        box-shadow: $blue_shadow;
                      }

   .head_user_name    { padding: 5px; display: inline-block; }

   .head_user_profile { display: inline-block; }

   .head_user_profile > img { vertical-align: middle;
                              width:  45px;
                              height: 42px;
                              border-radius: 50%;
                              margin-top: 3px;
                            }
}

/* -- main content -- */

.dashboard > .dash_midd_section > section.inner_fix_padding {
  padding: 0;
}

.dashboard      {
     display: table-row; height: auto;

    .dash_left_links  , .dash_midd_section , .dash_last_chat {
        height: 100%; display: block;
        float: left; padding: 10px 0;
    }
    /* -- left / middle / right -- */
    .dash_left_links    { width: 17%;  }

    .dash_midd_section  { width: 63%; padding: 10px 20px;  }

    .dash_last_chat     { width: 20%;  }


    .dash_last_chat .active_players div , .dash_last_chat .active_players  h3 { display: inline-block;  }

    /* -- left section -- */

    .dash_left_links > section > nav > ul      { float: right; display: block; padding-right: 20px; text-align: left; }

    .dash_left_links > section > nav > ul > li { padding: 5px; font-size: 0.65em; margin: 20px 0; font-weight: 700;

        span { display: inline-block; width: 10px; height: 10px; border-radius: 40%; background: blue;
               margin-right: 10px; position: relative; top: 2px; background: #5964ff;
             }
    }

    /* -- right section -- */

    .active_players {
        margin: 20px 0px;
        li  { margin: 10px 0; font-size: 0.75em; padding: 5px;  }

        li:nth-child( even ) { background: #15173d; border-radius: 8px; }

        h3  { margin-left: 10px; }
    }
}

/* --  upgrade points -- */

#player_upgrades {
          width: 100%; height: 100%; padding: 10px;

          .outer { width: 100%; height: 100%; display: inline-flex; flex-direction: row;
                  flex-wrap: wrap; position: relative; padding-top: 20px;
          }

          .inner { flex: 1 0; padding: 5px; text-align: center;
          }

          .first { width: 100%; background: red; padding: 30px 0; background: linear-gradient(45deg, #3503ad, #f7308c);
                   position: relative; border-radius: 15px;
          }

          .second { display: inline-block;
                    position: relative; bottom: 20px;

                   button {  background-image: none !important; width: 100%; border-radius: 0px;
                             background: $blue_Color;

                      > span { background: $blue_Color; background-image: none !important; }
                   }
          }

          .first:before { content:''; position: absolute; top:0; left:0; width: 50%; height: 100%;
                                    background: rgba(255,255,255, 0.1); border-radius: 15px 0 0 15px;
          }

}

/* -- game statistics -- */

#game_statistics {
        width: 100%; height: 100%; padding: 10px;

        #refresh_leaderboard { display: block; margin: 0 auto; background: $blue_Color;
                               margin-top: 15px; padding: 9px 20px; font-size: 0.65em;
                               border-radius: 4px; cursor: pointer; box-shadow: $blue_shadow;
        }

        #stats_allPlayers_rank {

            width: 80%; height: 100%; margin: 0 auto; display: flex; flex-direction: column;

            > h1 { padding-bottom: 15px; }

            .table_scroll {  height: 300px; overflow-y: scroll; }

            /* width */
            .table_scroll::-webkit-scrollbar { width: 10px;
            }

            /* Track */
            .table_scroll::-webkit-scrollbar-track { background: #f1f1f100;
            }

            /* Handle */
            .table_scroll::-webkit-scrollbar-thumb { background: #17224d;
            }


            .table { display: table; width: 100%; height: auto; word-wrap: break-word; }

            .table .th , .table .tr {  display: table-row; }

            .table .tr:nth-child( even ) { background: #15173d; border-radius: 8px;  }

            .table .tr {  display: table-row;  }

            .table .td { display: table-cell; padding: 18px; font-size: 0.7em; font-weight: 600;

                span { margin-left: 5px; padding: 4px 10px; background: #ff3838; border-radius: 3px; }
            }

            .clear { clear: both; }
        }

        #stats_indPlayer_rank  {
            width: 55%; height: 100%; float: right;
        }
}

/* -- game -- */

.stage_1.find_game {

      width: 70%; margin: 0 auto; display: block;

      h3 { text-align: center; padding: 20px 0; }

      ul.game_points {

        padding: 10px; font-size: 0.69em;

        li span { float: right; border: 1px solid white; padding: 5px 10px; position: relative; bottom: 5px; }

        li { padding: 15px; width: 70%; margin: 0 auto; cursor: pointer; background: #555cc5; position: relative; }
        li:nth-child(odd)    { background: #454593; }
        li.find_match_button { margin-top: 20px; border: 1px solid #8080fc; background: none; }
      }
}

.stage_2.game_matched {

     width: 100%; height: 100%; display: table; padding: 0 40px; padding-bottom: 10px;
     position: relative;

     section > h3 { text-align: center; padding: 20px 0; }

     > section    { display: table-row; height: 0; }

     > section > section#gm_opponents_inner { width: 100%; height: 100%; display: flex; align-items: center; }

     section.game_matched_head  {

                 > div      { padding: 10px 0; }

                 > div > h3 { text-align: center; padding: 10px; }

                 #myProgress {

                         padding: 0; margin: 10px 0; background: #5962e67a; position: relative;

                         #countdown  { position: absolute; width: 100%; height: 100%; text-align: center;
                                       background: none; font-size: 0.66em; font-weight: 600; top: 30%; }

                         #myBar      { width: 100%; height: 30px; }
                 }
                 #gameCount {
                       padding: 0; background: #5962e67a; position: relative;
                       border-radius: 0px; margin-top: 8px;

                       li {  position: absolute; background: #252635; width: 4px; height: 100%; z-index: 7777; }

                       .gameStage_stage_1 {  left: 33%; }
                       .gameStage_stage_2 {  left: 66%; }

                       #gameProgress   { padding: 0; border-radius: 0px; width: 0%; height: 9px; }
                 }
                 #game_result {
                       ul {
                          width: 100%; height: 25px; margin-top: 13px; position: relative;

                          li      { font-size: 0.67em; width: 33.33%; height: 100%;
                                    vertical-align: top;
                                    display: inline-flex;  justify-content: center; align-items: center;
                                  }

                          li span { padding: 5px 40px; border-radius: 4px; }

                          .win  { background: $blue_Color; }
                          .loss { background: #e11f1f; box-shadow: 0px 0px 11px 5px #a30c0c; }
                          .draw { background: #046f83; box-shadow: 2px 0px 15px 4px #a30c0c; }
                       }
                 }
     }

     section.game_matched_opponents {
        height: 15%;

        div       { width: 50%; display: flex; height: 100%; float: left; align-items: center; justify-content: center;
                    flex-direction: column;
                  }
        div > div { text-align: center; height: auto; display: block; width: 80%; }

        .opponent { padding: 30px 0; font-size: 0.73em; font-weight: 600; }
     }

     section.seperated_sections {
        height: auto;

        > div     { width: 100%; height: 100%; padding: 0px; }

        div > div { border-radius: 9px; background: #1c1d38; padding: 10px; }

        .left  { width: 49%; height: 100%; float: left;  }
        .right { width: 49%; height: 100%; float: right; }
     }

     section.game_match_choices {
           div.choices.left { padding: 0; display: flex; flex-direction: column; }
           div.choices {
               > ul             {  flex: 1; display: flex;  flex-wrap: wrap; width: 100%;  }
               > ul > li.top    {  border-top: none; }
               > ul > li.last   {  border-bottom: none; }
               > ul > li {

                    width: 50%; border: 4px solid $main_color;
                    flex-grow: 1; text-align: center; display: flex; justify-content: center; align-items: center;
                    flex: 1 1 auto;

                    div { width: 55px; display: inline-block; padding: 10px; border-radius: 50%; border: 3px solid #487ede; }
                    svg { font-size: 1.7em; }
               }
           }
           div.showGameChoices {
                #make_choice { width: 100%; padding: 10px 20px; background: $blue_Color; }
           }
     }

     section.game_matchFinish_results {
          background: #05081aed; width: 85%; height: 90%; display: flex; position: absolute; top: 10px;
          left: 0; right: 0; margin: 0 auto; flex-direction: column;
          z-index: 9999; justify-content: center; align-items: center;
          #result {
              padding: 10px; text-align: center; color: white;

              h3 { padding: 10px; }
              p  { font-size:  0.65em; }
              div.exit_game { cursor: pointer; padding: 8px 5px; border: 1px solid $blue_Color;
                              margin-top: 20px;
                  h3 { color: white; padding: 0; font-size: 0.65em; }
              }
          }
          #result.winner { color: #6bff6b;  }
          #result.loss   { color: red;      }
     }
}



/* -- */
